@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #59344f;
  --more-dark: #271722;
  --less-dark: #744467;
  --light: #d6fff6;
  --green: #214f4b;
  --tan: #e6b89c;
  --pink: #8e3b46;
}

input {
  font-family: var(--font-stuff);
}

text {
  font-family: var(--font-stuff);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--light);
  color: var(--more-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
